@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/fonts/icomoon.eot?i8tuuj');
  src:  url('icomoon/fonts/icomoon.eot?i8tuuj#iefix') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.ttf?i8tuuj') format('truetype'),
    url('icomoon/fonts/icomoon.woff?i8tuuj') format('woff'),
    url('icomoon/fonts/icomoon.svg?i8tuuj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-menu110:before {
  content: "\e900";
}
.icon-menu1:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e9bd";
}

 @font-face {
  font-family: 'icomoon';
  src:  url('icomoon2/fonts/icomoon.eot?ygvxp7');
  src:  url('icomoon2/fonts/icomoon.eot?ygvxp7#iefix') format('embedded-opentype'),
    url('icomoon2/fonts/icomoon.ttf?ygvxp7') format('truetype'),
    url('icomoon2/fonts/icomoon.woff?ygvxp7') format('woff'),
    url('icomoon2/fonts/icomoon.svg?ygvxp7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon1-"], [class*="icon1-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Líneas agregadas por mi */
  text-decoration: none;
  font-size: 50px;
  color: white;
  width: 40px;
  height: 40px;
  background-size: 100%;
  margin:5px 9px 5px 9px;
  /* display:block; */


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon1-facebook:before {
  content: "\ea90";
}
.icon1-instagram:before {
  content: "\ea92";
}
.icon1-twitter:before {
  content: "\ea96";
}
.icon1-github:before {
  content: "\eab0";
}



body {
  font-family: 'Source Sans Pro',system-ui;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', system-ui;
  font-weight: 400 ;
}


h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0px;
  max-width: 500px;
}

.project {

  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', system-ui;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro',system-ui;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.hero {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
  width: auto;
}

.portfolio {
  background: #FAFAFA;
  padding: 20px;
}
.project-details {
  /* Se modifica el tamaño fijo de 500px */
  width: 50%;
}

.project-imageContainer {
  /* Se modifica el tamaño fijo de 500px */
  width: 50%;
}

.project-imageContainer img {
  /* Para que se autoescale al espacio donde se encuentra */
  max-width: 100%;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

figure {
  margin: 0;
}

.header a {
 color: white;
 text-decoration: none;
}

.menú {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}

.header a {
height: inherit;
display: flex;
align-items: center;
padding: 0 10px;
}

ol,
ul {
  margin: 0;
  padding:0;
  list-style: none;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  flex-wrap: wrap;
}

.event-container {
  display: flex;
  flex-wrap: inherit;
}

.event-list-title {
  margin-left: 20px;
}


.event {
  /* Responsiveando la seccion de eventos */
  /* Se cambio a 1+48+1+1+48+1 = 100% */
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff;
  z-index: 2;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("Imagenes para trabajar/twitter.svg");
}

.social-link.facebook {
  background-image: url("Imagenes para trabajar/facebook.svg");
}

.social-link.github {
  background-image: url("Imagenes para trabajar/github.svg");
}

.social-link.instagram {
  background-image: url("Imagenes para trabajar/instagram.svg");
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("Imagenes para trabajar/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro',system-ui;
}

.container {
  /* width: 1000px; */
  /* Este es el máximo tamaño que puede adoptar, pero si sus hijos no suman este máximo el container no necesariamente será de 1000 px */
  max-width: 1000px;
  /* Definiendo este ancho, se tendrá todo el tamaño disponible aún si los hijos no sumen el total */
  /* width: 100%; */
  /* Esta opción traerá como consecuencia un efecto no deseado, por ejemplo al añadir un padding, éste se añadirá luego del máximo y no dentro del establecido */

  /* Con este uso de flex se tendrá un ancho autoajustable además de no sufrir efectos no deseados */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);
  display: none;

  /* Forma antigua cuando no existía flex */
  line-height: 40px;
  text-align: center;

  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;

  color:white;
  /* Forma de centrar con flex */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/**/
#eventos > div:nth-last-of-type(2) {
  margin-top: 80px;
}

/* Desktop first */
@media screen and (max-width:1023px) { /*breakpoint*/
  .event-list-title {
    margin-left: 0;
  }
  .portfolio {
    padding: 0px;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    /* Recordar que las posiciones absolutas necesitan una posición relativa para referenciar su alcance */
    position: absolute;
    z-index: 1;
    /* Para que la imagen se expanda todo lo que pueda */
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
  /* .contact {
    height: auto;
    justify-content: space-between;
  } */
}

.html-video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
  /* position: relative; */
}

.youtube-video {
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 3;  Se comenta para que no se superponga al texto*/
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top:56.25%;
  background: blue;
  position: relative;
}
/* Un pixel abajo del tamaño dek ipad(768px)  pues hasta en ipad se aprecia de manera correcta la página*/
@media screen and (max-width: 767px) { /*breakpoint*/
  /* body {
    border: 10px solid green;
  } */
  h2 {
    font-size: 1em;
    margin: .5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block; /*Se reemplaza a flex pues se requiere ver un debajo de otro*/
    height: auto; /*Reseteando valores*/
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
    /* Se visualiza que la etiqueta "a" deja de ocupar todo el espacio disponible
    text-align: center */
  }
  .header  a {
    /* Resolviendo el comentario anterior */
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .menú {
    position: fixed;
    background: rgba(5,111,255,.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh;*/
    /* menú es el padre de "ol" y este tiene como atributo inherit(herencia), al ser 0 no podrá heredar más que un valor de auto */
    bottom:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Para que el menú aparezca déspues de pasado un tiempo */
    transition: .3s;
  }

  /* Esta clase mostrará el menú que previamente se oculto con left: -100vw; */
  .menú.is-active{
    left: 0;
  }

  /* Siempre es mejor tener definidos block y auto(width) para tener mayor rendimiento */
  .project {
    display:block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  /* Se usará em para establecer tamaños de letra */
  .project-details {
    width: auto;
    /* Sino se define, el valor por defecto será 16px */
    /* font-size: 10px; */
  }
  .project-course, .project-date, .project-url {
    margin: .3em 0;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: .7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 1em;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
  .contact {
    justify-content: space-between;
    padding: 1.5em 0;
    /* text-align: center; */
    display: flex;
  }
  .form-email button {
    margin: 1em;
  }
  .form-email h3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 580px) { /*breakpoint*/
  h1 {
    font-size: 1em;
  }
  .project-details {
    font-size: 14px;
  }

  .event-detail {
    /* Como no se manipulo el font-size, el tamaño por defecto será de 16px */
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    /* padding: 1.5em 0; */
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .container {
    height: auto;
  }
}

@media screen and (max-width: 320px) { /*breakpoint*/
  h1 {
    font-size: 1.2em;
    /* Aporte de compañero para definir una sombra no muy pronunciada */
    text-shadow: 1px 2px 2px #000;
    /* Si se quiere visualizar mejor el texto */
    /* background: rgba(0,0,0,0.5) */
  }
  .hero {
    padding: 2em 1em;
  }
  .hero img {
    /*Aporte de compañero*/
    /* Para distorsonar un poco la imagen, estableciendo como prioridad el texto */
    filter: opacity(80%) blur(1px);
  }
}
